.div1
{
    background-color: aqua;
    border-radius: 20%;
    width: 80%;
    height: 600px;
}

.div2
{
    background-color: aliceblue;
    border-radius: 20%;
    margin-top: 50;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 50;
}

.i1
{
    margin-top: 50;
}